# Auth
NUXT_AUTH_SECRET=changeme-generate-with-openssl-rand-hex-32
AUTH_ORIGIN=http://localhost:3000/api/auth

# PostgreSQL
PG_PORT=5432
PG_ADMIN_PORT=5050
PG_USER=tolkuchka
PG_PASSWORD=tolkuchka_local_secret
PG_DB=tolkuchka_dev

# pgAdmin
PG_ADMIN_LOGIN=admin@local.dev
PG_ADMIN_PASSWORD=changeme